<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>some website</title>
  </head>
  <body>
    <!-- <h1>{{pageTitle}}</h1> -->
    {{>header}}

    <p>Some text here</p>

    <!-- <footer>
      <p>©{{currentYear}}</p>
    </footer> -->

<!--  to inject data from views/partials-->
    {{> footer}}
<!-- '> footer' as partials -->

  </body>
</html>
